<div class="dashboard-container d-flex">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <!-- Main Content -->
  <div class="main-content flex-grow-1">
    <h1><%= @course.title %></h1>
    <h1 class="question-title">QUESTION #<%= @question_number %></h1>

    <div class="question-box">
      <h2><%= @question.content %></h2>

      <%= form_with url: submit_answer_course_question_path(@course, @question), method: :post, local: true do |f| %>

        <div class="answers">
          <% if @question.question_type == 'open_answer' %>
            <!-- Input field for open_answer type questions -->
            <div class="form-group">
              <%= f.text_field :answer_content, placeholder: "Type your answer here", class: "form-control", style: "max-width: 50%;" %>
            </div>
          <% elsif @question.question_type == 'multiple_answer' %>
            <!-- Checkboxes for multiple_answer type questions -->
            <% @answers.each_with_index do |answer, index| %>
              <div class="answer">
                <%= f.check_box :answer_ids, { multiple: true }, answer.id, id: "answer_#{answer.id}" %>
                <%= f.label "answer_#{answer.id}", answer.content %>
              </div>
            <% end %>
          <% else %>
            <!-- Radio buttons for other types of questions -->
            <% @answers.each_with_index do |answer, index| %>
              <div class="answer">
                <%= f.radio_button :answer, answer.id, id: "answer_#{answer.id}" %>
                <%= f.label "answer_#{answer.id}", answer.content %>
              </div>
            <% end %>
          <% end %>
        </div>

        <%= f.submit "Answer", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>

    <div class="progress-box">
      <!-- Navigation buttons with the progress bar in the middle -->
      <div class="navigation-wrapper">
        <div class="previous-button">
          <% if @previous_question %>
            <%= link_to course_question_path(@course, @previous_question), class: "chevron-btn" do %>
              <i class="fa fa-chevron-left"></i>
            <% end %>
          <% else %>
            <a class="chevron-btn" style="visibility: hidden;">
              <i class="fa fa-chevron-left"></i>
            </a>
          <% end %>
        </div>

        <div class="questions-progress-wrapper">
          <div class="questions-progress">
            <% @course.questions.each_with_index do |question, index| %>
              <% attempt = @attempts.find { |a| a.question_id == question.id } %>

              <% if attempt %>
                <!-- For open_answer type -->
                <% if question.question_type == 'open_answer' %>
                  <% if attempt.correct? %>
                    <a href="<%= course_question_path(@course, question) %>" class="question-number correct-answer">
                      <%= index + 1 %>
                    </a>
                  <% else %>
                    <a href="<%= course_question_path(@course, question) %>" class="question-number incorrect-answer">
                      <%= index + 1 %>
                    </a>
                  <% end %>

                <!-- For multiple_answer type -->
                <% elsif question.question_type == 'multiple_answer' %>
                  <% if attempt.chosen_answers.any? && attempt.chosen_answers.all?(&:correct?) %>
                    <a href="<%= course_question_path(@course, question) %>" class="question-number correct-answer">
                      <%= index + 1 %>
                    </a>
                  <% else %>
                    <a href="<%= course_question_path(@course, question) %>" class="question-number incorrect-answer">
                      <%= index + 1 %>
                    </a>
                  <% end %>

                <!-- For multiple_choice and true_false types -->
                <% else %>
                  <% if attempt.chosen_answers.present? && attempt.chosen_answers.first&.correct? %>
                    <a href="<%= course_question_path(@course, question) %>" class="question-number correct-answer">
                      <%= index + 1 %>
                    </a>
                  <% elsif attempt.chosen_answer_id.present? && Answer.find(attempt.chosen_answer_id).correct? %>
                    <a href="<%= course_question_path(@course, question) %>" class="question-number correct-answer">
                      <%= index + 1 %>
                    </a>
                  <% else %>
                    <a href="<%= course_question_path(@course, question) %>" class="question-number incorrect-answer">
                      <%= index + 1 %>
                    </a>
                  <% end %>
                <% end %>

              <% else %>
                <!-- No attempt made yet -->
                <a href="<%= course_question_path(@course, question) %>" class="question-number">
                  <%= index + 1 %>
                </a>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="next-button">
          <% if @next_question %>
            <%= link_to course_question_path(@course, @next_question), class: "chevron-btn" do %>
              <i class="fa fa-chevron-right"></i>
            <% end %>
          <% else %>
            <a class="chevron-btn" style="visibility: hidden;">
              <i class="fa fa-chevron-right"></i>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
