<div class="dashboard-container d-flex" data-controller="answer" data-answer-course-id="<%= @course.id %>">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <!-- Main Content -->
  <div class="main-content flex-grow-1">
    <h1><%= @course.title %></h1>
    <h1 class="question-title">Vraag #<%= @question_number %></h1>

    <!-- Back button -->
    <% if params[:student_id] %>
      <% student = User.not_deleted.find(params[:student_id]) %>
      <%= link_to student_path(student), class: "back-btn" do %>
        <p><i class="fa-solid fa-arrow-left mx-1"></i><span class="ms-2">Terug naar <%= student.first_name %>'s profiiel</span></p>
      <% end %>
    <% elsif current_user.teacher? || current_user.admin? %>
      <%= link_to my_courses_courses_path, class: "back-btn" do %>
        <p><i class="fa-solid fa-arrow-left mx-1"></i><span class="ms-2">Terug naar cursussen</span></p>
      <% end %>
    <% else %>
      <%= link_to dashboard_path, class: "back-btn" do %>
        <p><i class="fa-solid fa-arrow-left mx-1"></i><span class="ms-2">Terug naar Dashboard</span></p>
      <% end %>
    <% end %>

    <% unless current_user.teacher? %>
      <div class="time-spent student-hidden">
        <p>🕐<strong class="ms-2">Tijd besteed:</strong> <span id="timer" data-answer-target="timer">00:00:00</span></p>
      </div>
    <% end %>

    <div class="question-box">
      <h2><%= @question.content %></h2>

      <!-- Display the question image (if attached) -->
      <% if @question.image.attached? %>
        <%= image_tag @question.image, alt: "Question image", class: "question-image img-fluid my-4" %>
      <% end %>

      <!-- Retrieve the student's attempt -->
      <% if params[:student_id] %>
        <% student_attempt = Attempt.find_by(user_id: params[:student_id], question_id: @question.id) %>
        <% student = User.not_deleted.find(params[:student_id]) %>
      <% end %>

      <%= form_with url: submit_answer_course_question_path(@course, @question), method: :post, local: true, data: { answer_target: "form" } do |f| %>
            <div class="answers">
              <% if @question.question_type == 'open_answer' %>
                <div class="form-group">
                  <%= f.text_field :answer_content, placeholder: "Jouw antwoord hier", class: "form-control", style: "max-width: 50%;" %>
                </div>
                <!-- Answer Button for Students -->
                <% if current_user.student? %>
                  <%= f.submit "Antwoord", class: "btn btn-primary mt-3" %>
                <% end %>

              <% elsif @question.question_type == 'multiple_answer' %>
                <% @answers.each do |answer| %>
                  <div class="answer-button-container">
                    <label class="answer-button">
                      <%= f.check_box :answer_ids, { multiple: true }, answer.id, id: "answer_#{answer.id}", class: "d-none" %>
                      <span class="answer-button-label"><%= answer.content %></span>
                    </label>
                  </div>
                <% end %>
                <!-- Answer Button for Students -->
                <% if current_user.student? %>
                  <%= f.submit "Bevestig", class: "btn btn-primary mt-3" %>
                <% end %>

              <% else %> <!-- Multiple Choice or True/False -->
                <% @answers.each do |answer| %>
                  <div class="answer-button-container" data-answer-target="answerButton">
                    <button type="button" class="answer-button" data-answer-id="<%= answer.id %>" data-action="click->answer#handleAnswerClick">
                      <%= answer.content %>
                    </button>
                  </div>
                <% end %>
                <%= f.hidden_field :answer, id: "selected_answer", data: { answer_target: "hiddenAnswerField" } %>
              <% end %>
            </div>
          <% end %>

      <!-- Correct Answer and Student's Answer for Teachers and Admins -->
      <% if current_user.teacher? || current_user.admin? %>
        <div class="mt-4">
          <strong>Juiste antwoord:</strong> <%= @question.answers.where(correct: true).map(&:content).join(", ") %>
        </div>

        <!-- Only show the student's answer if student_id is present -->
        <% if params[:student_id] %>
          <div class="mt-2">
            <strong><%= student&.first_name %>'s antwoord:</strong>
            <% if @question.question_type == 'open_answer' %>
              <%= student_attempt&.written_answer.presence || "Geen antwoord gegeven" %>
            <% elsif @question.question_type == 'multiple_answer' %>
              <%= student_attempt&.chosen_answers&.map(&:content).join(", ") || "Geen antwoord gegeven" %>
            <% else %>
              <%= Answer.find_by(id: student_attempt&.chosen_answer_id)&.content || "Geen antwoord gegeven" %>
            <% end %>
          </div>
        <% end %>

        <!-- Next Button for Teachers and Admins -->
        <div class="mt-2">
          <% if @next_question.present? %>
            <%= link_to course_question_path(@course, @next_question, student_id: params[:student_id]), class: "btn btn-primary mt-3" do %>
              Volgende
            <% end %>
          <% else %>
            <% if params[:student_id] %>
              <!-- Redirect to student's profile if student_id exists -->
              <%= link_to student_path(student), class: "btn btn-primary mt-3" do %>
                Afronden
              <% end %>
            <% else %>
              <!-- Redirect to My Courses if no student_id -->
              <%= link_to my_courses_courses_path, class: "btn btn-primary mt-3" do %>
                Afronden
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <!-- Progress Box -->
      <div class="progress-box">
        <div class="navigation-wrapper">
          <div class="previous-button">
            <% if @previous_question %>
              <%= link_to course_question_path(@course, @previous_question, student_id: params[:student_id]), class: "chevron-btn" do %>
                <i class="fa fa-chevron-left"></i>
              <% end %>
            <% else %>
              <a class="chevron-btn" style="visibility: hidden;">
                <i class="fa fa-chevron-left"></i>
              </a>
            <% end %>
          </div>

          <div class="questions-progress-wrapper">
            <div class="questions-progress">
              <% @course.questions.each_with_index do |question, index| %>
                <% attempt = @attempts.find { |a| a.question_id == question.id } %>

                <% if attempt %>
                  <!-- Teachers' and Admins' answered questions will show as default -->
                  <% if current_user.teacher? || current_user.admin? %>
                    <a href="<%= course_question_path(@course, question, student_id: params[:student_id]) %>" class="question-number">
                      <%= index + 1 %>
                    </a>
                  <% else %>
                    <a href="<%= course_question_path(@course, question) %>" class="question-number question-answered">
                      <%= index + 1 %>
                    </a>
                  <% end %>
                <% else %>
                  <a href="<%= course_question_path(@course, question, student_id: params[:student_id]) %>" class="question-number">
                    <%= index + 1 %>
                  </a>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="next-button">
            <% if @next_question %>
              <%= link_to course_question_path(@course, @next_question, student_id: params[:student_id]), class: "chevron-btn" do %>
                <i class="fa fa-chevron-right"></i>
              <% end %>
            <% else %>
              <a class="chevron-btn" style="visibility: hidden;">
                <i class="fa fa-chevron-right"></i>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
