<div class="dashboard-container d-flex">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <!-- Flash messages for validation errors -->
  <div id="flash-messages">
    <%= render 'shared/flashes' %>
  </div>

  <!-- Main Content -->
  <div class="main-content flex-grow-1" data-controller="add-members">
    <h1>Leerlingenlijst wijzigen</h1>

    <%= simple_form_for @group, url: group_path(@group), method: :patch, data: { turbo: true } do |f| %>

      <!-- Group Name Input -->
      <div class="field group-form-control">
        <%= f.input :name, label: "Naam van de groep", required: true %> <!-- Pre-fill group name -->
      </div>

      <!-- Select Groups for pre-selecting students -->
      <div class="form-group">
        <label for="groupSelect">Select studenten van een bestaande groep (optioneel).</label>
        <%= select_tag "group_ids[]", options_from_collection_for_select(@groups, "id", "name"), multiple: true, class: "form-control mt-2 mb-3", id: "groupSelect", data: { controller: "tom-select" } %>
      </div>

      <!-- Student Checkboxes -->
      <div class="field">
        <%= f.label "Selecteer studenten om te toevoegen aan deze groep" %>

        <!-- List all students with checkboxes -->
        <div class="student-list mt-2">
          <ul class="list-group">
            <!-- "Select all" checkbox -->
            <li class="list-group-item" style="background-color: white;">
              <span>Selecteer alles</span>
              <%= check_box_tag "select_all", "all", false, id: "select-all", class: "select-all-checkbox", data: { action: "change->add-members#toggleSelectAll" } %>
            </li>

            <% User.students.each do |student| %>
              <li class="list-group-item">
                <span><%= student.full_name %></span>
                <!-- Pre-check the checkbox if the student is already in the group -->
                <%= check_box_tag "group[student_ids][]", student.id, @group.students.include?(student), class: "member-checkbox", data: { add_members_target: "studentCheckbox" } %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <%= f.submit "Leerlingenlijst wijzigen", class: "btn btn-primary mt-4 mb-5", id: "submit-group" %>
    <% end %>
  </div>
</div>