<div class="dashboard-container d-flex">

  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <!-- Flash messages for validation errors -->
  <div id="flash-messages">
    <%= render 'shared/flashes' %>
  </div>

  <!-- Main Content -->
  <div class="main-content flex-grow-1" data-controller="add-members">

    <h1 class="mb-4">Nieuwe Leerlingenlijst</h1>

    <div class="card-white p-4">

      <%= simple_form_for @group, data: { turbo: true } do |f| %>

        <!-- Group name -->
        <div class="field group-form-control">
          <%= f.input :name, label: "Naam van de lijst", required: true %>
        </div>

        <!-- Select groups for pre-selecting students -->
        <div class="form-group">
          <label for="groupSelect">Selecteer de leerlingen van een bestaande lijst (optioneel)</label>
          <%= select_tag "group_ids[]", options_from_collection_for_select(@groups, "id", "name"), multiple: true, class: "form-control mt-2 mb-3", id: "groupSelect", data: { controller: "tom-select" } %>
        </div>

        <!-- Student checkboxes -->
        <div class="field">
          <%= f.label "Selecteer leerlingen voor deze lijst" %>

          <!-- List all students with checkboxes -->
          <div class="student-list mt-2">
            <ul class="list-group">
              <!-- "Select all" checkbox -->
              <li class="list-group-item" style="background-color: white;">
                <span>Select all</span>
                <%= check_box_tag "select_all", "all", false, id: "select-all", class: "select-all-checkbox", data: { action: "change->add-members#toggleSelectAll" } %>
              </li>

              <% User.students.sort_by { |student| [student.first_name, student.last_name] }.each do |student| %>
                <li class="list-group-item">
                  <span><%= student.full_name %></span>
                  <%= check_box_tag "group[student_ids][]", student.id, false, class: "member-checkbox", data: { add_members_target: "studentCheckbox" } %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <%= f.submit "Maak lijst aan", class: "btn btn-primary mt-4 mb-2", id: "submit-group" %>
      <% end %>
    </div>
  </div>
</div>
