<div class="dashboard-container d-flex">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <!-- Flash messages for validation errors -->
  <div id="flash-messages">
    <%= render 'shared/flashes' %>
  </div>

  <!-- Main Content -->
  <div class="main-content flex-grow-1">
    <h1>Create a New Group</h1>

    <%= simple_form_for @group, data: { turbo: true } do |f| %>
      <div class="field group-form-control">
        <%= f.input :name, label: "Group name", required: true %>
      </div>

      <div class="field">
        <%= f.label "Select students to add to the Group:" %>

        <!-- List all students with checkboxes -->
        <div class="student-list mt-3">
          <ul class="list-group">
            <% User.students.each do |student| %>
              <li class="list-group-item">
                <span><%= student.full_name %></span>
                <%= check_box_tag "group[student_ids][]", student.id, false, class: "student-checkbox" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <%= f.submit "Create Group", class: "btn btn-primary mt-4 mb-5", id: "submit-group" %>
    <% end %>
  </div>
</div>