<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link <%= 'active' if controller_name == 'dashboards' && action_name == 'index' %>" href="<%= dashboard_path %>">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if controller_name == 'courses' && action_name == 'index' %>" href="<%= courses_path %>">Enrolled Courses</a>
    </li>
    <% if current_user.teacher? %>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if controller_name == 'dashboards' && action_name == 'my_groups' %>" href="<%= dashboard_my_groups_path %>">Mijn Groepen</a>
      </li>
    <% end %>
    <% if current_user.teacher? %>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if controller_name == 'groups' && action_name == 'new' %>" href="<%= new_group_path %>">New Group</a>
      </li>
    <% end %>
    <% if current_user.teacher? %>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if controller_name == 'courses' && action_name == 'my_courses' %>" href="<%= my_courses_courses_path %>">Created Courses</a>
      </li>
    <% end %>
    <% if current_user.teacher? %>
      <li class="nav-item">
        <a class="nav-link <%= 'active' if controller_name == 'courses' && action_name == 'new' %>" href="<%= new_course_path %>">New Course</a>
      </li>
    <% end %>
  </ul>
</div>
