<div class="dashboard-container d-flex">

  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <!-- Main Content -->
  <div class="main-content flex-grow-1">
    <h1>Hi, <%= current_user.first_name %>!</h1>
    <h4><%= current_user.email %></h4>

    <hr class="my-5">

    <h1>Courses</h1>

    <% @registered_courses.each do |course| %>
      <div class="course-progress mb-4">
        <h4><%= course.title %></h4>
        <div class="questions">
          <% course.questions.each_with_index do |question, index| %>
            <% attempt = @attempts.find { |a| a.question_id == question.id } %>
            <% if attempt %>
              <% if attempt.chosen_answer.correct? %>
                <a href="<%= course_question_path(course, question) %>" class="question-number correct-answer">
                  <%= index + 1 %>
                </a>
              <% else %>
                <a href="<%= course_question_path(course, question) %>" class="question-number incorrect-answer">
                  <%= index + 1 %>
                </a>
              <% end %>
            <% else %>
              <a href="<%= course_question_path(course, question) %>" class="question-number">
                <%= index + 1 %>
              </a>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>

</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const dropdownItems = document.querySelectorAll('.dropdown-item');
    const dropdownButton = document.getElementById('dropdownMenuButton');
    const registerButton = document.getElementById('registerButton');
    const selectedCourseInput = document.getElementById('selected_course_id');

    dropdownItems.forEach(function(item) {
      item.addEventListener('click', function(event) {
        event.preventDefault();
        const courseId = this.getAttribute('data-course-id');
        const courseTitle = this.textContent.trim();

        selectedCourseInput.value = courseId;
        dropdownButton.textContent = courseTitle;
        registerButton.disabled = false;
      });
    });
  });
</script>
