<div class="dashboard-container d-flex" data-controller="add-course">

  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <!-- Main Content -->
  <div class="main-content flex-grow-1">

    <!-- Flexbox for avatar and profile information -->
    <div class="d-flex align-items-center">
      <!-- Avatar image -->
      <div class="me-4">
        <%= image_tag 'avatar-blue.png', alt: 'Avatar', class: 'avatar-large' %>
      </div>

      <!-- Profile information -->
      <div>
        <h1>Hi, <%= current_user.first_name %>!</h1>
        <h4><%= current_user.email %></h4>
        <h4><strong><%= current_user.role.capitalize %></strong></h4>
      </div>
    </div>

    <!-- Weekly Tasks -->
    <% if @weekly_tasks.any? %>
      <% @weekly_tasks.each do |weekly_task| %>
        <div class="card-white p-4 my-4">
          <!-- Flexbox for Task Title and Action Buttons -->
          <div class="d-flex justify-content-between align-items-center mb-4">
            <!-- Weekly Task Title -->
            <h1 class="mb-0"><%= weekly_task.title %></h1>

            <!-- Action Buttons -->
            <% if current_user.teacher? || current_user.admin? %>
              <div class="d-flex">
                <!-- Create New Weekly Task Button -->
                <%= link_to weekly_task_courses_path, class: 'me-4', title: 'Create a new weekly task' do %>
                  <i class="fa-solid fa-plus icon-aligned"></i>
                <% end %>

                <!-- Edit Button -->
                <%= link_to edit_weekly_task_course_path(weekly_task), class: 'me-4', title: 'Edit this task' do %>
                  <i class="fa-solid fa-pen-to-square icon-aligned"></i>
                <% end %>

                <!-- Delete Button -->
                <%= link_to course_path(weekly_task), method: :delete, data: { confirm: "Weet je zeker dat je deze weektaak wilt verwijderen? Dit kan niet ongedaan gemaakt worden.", turbo: false }, class: 'me-2', title: 'Weektaak verwijderen' do %>
                  <i class="fa-solid fa-xmark icon-aligned"></i>
                <% end %>
              </div>
            <% end %>
          </div>

          <!-- Calculate and display the Due Date countdown -->
          <% due_date = weekly_task.created_at + 7.days %>
          <% remaining_time = due_date - Time.current %>

          <% if remaining_time > 0 %>
            <% days = (remaining_time / 1.day).to_i %>
            <% hours = ((remaining_time % 1.day) / 1.hour).to_i %>
            <p class="text-muted"><strong>Due</strong>: <%= "#{days} day#{'s' if days != 1} #{hours} hour#{'s' if hours != 1}" %></p>
          <% else %>
            <% weekly_task.update(weekly_task: false) %>
            <p class="text-danger"><strong>Due</strong>: Task is overdue</p>
          <% end %>

          <% if current_user.teacher? || current_user.admin? %>
            <!-- List of Students Registered for the Weekly Task -->
            <% if weekly_task.registrations.any? %>
              <!-- Headers Row -->
              <div class="students-list-wrapper mt-4">
                <div class="d-flex justify-content-between align-items-center mb-2" style="font-weight: bold;">
                  <div class="col-3">Student</div>
                  <div class="col-2 text-center">Status</div>
                  <div class="col-2 text-center">Score</div>
                  <div class="col-3 text-center">Bstede tijd</div>
                </div>

                <div class="students-list">
                  <%= render partial: 'shared/registration_list', locals: { registrations: weekly_task.registrations, questions: weekly_task.questions } %>
                </div>
              </div>
            <% else %>
              <p>No students are currently registered for this weekly task.</p>
            <% end %>
          <% end %>

          <!-- Questions Section -->
          <h4 class="mt-4 mb-3">Questions</h4>
          <div class="course-content d-flex align-items-start justify-content-between">
            <!-- Questions Display -->
            <div class="questions-list">
              <% weekly_task.questions.each_with_index do |question, index| %>
                <% if current_user.teacher? || current_user.admin? %>
                  <!-- Teachers and Admin -->
                  <a href="<%= course_question_path(weekly_task, question) %>" class="question-number">
                    <%= index + 1 %>
                  </a>
                <% else %>
                  <!-- Students -->
                  <% attempt = @attempts.find { |a| a.question_id == question.id } %>
                  <% if attempt %>
                    <a href="<%= course_question_path(weekly_task, question) %>" class="question-number question-answered">
                      <%= index + 1 %>
                    </a>
                  <% else %>
                    <a href="<%= course_question_path(weekly_task, question) %>" class="question-number">
                      <%= index + 1 %>
                    </a>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h1>Weektaak</h1>
      <p>Er is nog geen weektaak.</p>

      <!-- Button to Create New Weekly Task (Only If No Task Exists) -->
      <% if current_user.teacher? || current_user.admin? %>
        <div class="d-flex align-items-center my-4">
          <%= link_to "Maak taak aan", weekly_task_courses_path, class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>

    <!-- Recent Courses -->
    <div class="card-white p-4">
      <h1>Recente Cursussen</h1>

      <% @registered_courses_with_attempts.each do |course_with_attempt| %>
        <% course = course_with_attempt[:course] %>
        <div class="course-progress mb-4">
          <h4><%= course.title %></h4>

          <!-- Questions progress -->
          <div class="questions-progress">
            <% course.questions.each_with_index do |question, index| %>
              <% if current_user.teacher? %>
                <!-- Teachers -->
                <a href="<%= course_question_path(course, question) %>" class="question-number">
                  <%= index + 1 %>
                </a>
              <% else %>
                <!-- Students -->
                <% attempt = @attempts.find { |a| a.question_id == question.id } %>
                <% if attempt %>
                  <a href="<%= course_question_path(course, question) %>" class="question-number question-answered">
                    <%= index + 1 %>
                  </a>
                <% else %>
                  <a href="<%= course_question_path(course, question) %>" class="question-number">
                    <%= index + 1 %>
                  </a>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
