<div class="dashboard-container d-flex">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <!-- Main Content -->
  <div class="main-content flex-grow-1">
    <h1 class="mb-4">Manage Users</h1>

    <% if @users.any? %>
      <div class="card-white p-4">
        <table class="table table-striped users-table">
          <thead>
            <tr>
              <th style="width: 20%; padding-left: 20px;">
                <div class="d-flex align-items-center">
                  <span>First Name</span>
                  <%= link_to dashboard_manage_users_path(sort: 'first_name', direction: params[:direction] == 'asc' ? 'desc' : 'asc'), class: 'ms-2' do %>
                    <% if params[:sort] == 'first_name' %>
                      <% if params[:direction] == 'asc' %>
                        <i class="fa-solid fa-arrow-up-a-z"></i>
                      <% else %>
                        <i class="fa-solid fa-arrow-down-z-a"></i>
                      <% end %>
                    <% else %>
                      <i class="fa-solid fa-sort"></i>
                    <% end %>
                  <% end %>
                </div>
              </th>
              <th style="width: 20%;">
                <div class="d-flex align-items-center">
                  <span>Last Name</span>
                  <%= link_to dashboard_manage_users_path(sort: 'last_name', direction: params[:direction] == 'asc' ? 'desc' : 'asc'), class: 'ms-2' do %>
                    <% if params[:sort] == 'last_name' %>
                      <% if params[:direction] == 'asc' %>
                        <i class="fa-solid fa-arrow-up-a-z"></i>
                      <% else %>
                        <i class="fa-solid fa-arrow-down-z-a"></i>
                      <% end %>
                    <% else %>
                      <i class="fa-solid fa-sort"></i>
                    <% end %>
                  <% end %>
                </div>
              </th>
              <th style="width: 25%;">Email</th>
              <th style="width: 15%;">
                <div class="d-flex align-items-center">
                  <span>Role</span>
                  <%= link_to dashboard_manage_users_path(sort: 'role', direction: params[:direction] == 'asc' ? 'desc' : 'asc'), class: 'ms-2' do %>
                    <% if params[:sort] == 'role' %>
                      <% if params[:direction] == 'asc' %>
                        <i class="fa-solid fa-arrow-up-a-z"></i>
                      <% else %>
                        <i class="fa-solid fa-arrow-down-z-a"></i>
                      <% end %>
                    <% else %>
                      <i class="fa-solid fa-sort"></i>
                    <% end %>
                  <% end %>
                </div>
              </th>
              <th style="width: 20%;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr style="background-color: #FFFFFF; vertical-align: middle;">
                <td style="padding-left: 20px;"><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
                <td><%= user.role.capitalize %></td>
                <td>
                  <!-- Keeping the button font unchanged from "Work Sans" -->
                  <%= link_to "Edit Profile", edit_user_registration_path(user), class: "btn btn-primary", style: "font-family: 'Work Sans', sans-serif;" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>No users available to manage.</p>
    <% end %>
  </div>
</div>
