<div class="dashboard-container d-flex">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <!-- Main Content -->
  <div class="main-content flex-grow-1">
    <h1 class="mb-4">Mijn leerlingenlijsten</h1>

    <%= link_to "Leerlingenlijst aanmaken", new_group_path, class: "btn btn-primary mb-4" %>

    <% if @groups.any? %>
      <% @groups.each do |group| %>
        <div class="card-white">
          <!-- Flex container for Group Name and Action Buttons -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <!-- Group Name -->
            <h2 class="mb-0"><%= group.name %></h2>

            <!-- Action Buttons (Edit/Delete) -->
            <div class="d-flex align-items-center">
              <!-- Edit Button -->
              <%= link_to edit_group_path(group), class: 'me-4', title: 'Leerlingenlijst wijzigen' do %>
                <i class="fa-solid fa-pen-to-square icon-aligned"></i>
              <% end %>

              <!-- Delete Button -->
              <%= link_to group_path(group), method: :delete, data: { confirm: "Weet je zeker dat je deze groep wilt verwijderen? Dit kan niet ongedaan gemaakt worden.", turbo: false }, class: 'me-2', title: 'Deze groep verwijderen' do %>
                <i class="fa-solid fa-xmark icon-aligned"></i>
              <% end %>
            </div>
          </div>

          <!-- Students Section -->
          <ul>
            <% group.students.sort_by { |student| [student.first_name, student.last_name] }.each do |student| %>
              <li>
                <!-- Link to student's profile -->
                <%= link_to "#{student.first_name} #{student.last_name}", student_path(student), class: 'student-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% else %>
      <p>Je hebt nog geen leerlingenlijsten.</p>
    <% end %>
  </div>
</div>
