<div class="dashboard-container d-flex">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <div class="main-content flex-grow-1">
    <h1>Lidmaatschap</h1>

    <%= render_trial_banner(current_user) %>

    <hr>

    <div id="subscription-status">
      <% if session.delete(:payment_processing) %>
        <div class="d-flex">
          <div>Het lidmaatschap wordt aangemaakt. Dit duurt enkele seconden. </div>
          <div class="spinner-waiter spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      <% else %>
        <%= render 'subscriptions/details', current_subscription: current_user.active_subscription, memberships: Membership.all %>
      <% end %>
    </div>

    <%= turbo_stream_from current_user %>


    <!-- In je dashboard.html.erb -->
    <div class="payment-history-section">
      <h2 class="my-4">Betaalgeschiedenis</h2>
      
      <% if @payments.present? %>
        <table class="payments-table">
          <thead>
            <tr>
              <th>Aangemaakt op</th>
              <th>Bedrag</th>
              <th>Status</th>
              <th>Type</th>
            </tr>
          </thead>
          <tbody>
            <% @payments.each do |payment| %>
              <tr>
                <td><%= payment.created_at.strftime('%d-%m-%Y %H:%M') %></td>
                <td><%= humanized_money_with_symbol(payment.amount) %></td>
                <td><%= translated_payment_status(payment) %></td>
                <td><%= payment.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>Je hebt nog geen betalingen gedaan.</p>
      <% end %>
    </div>

    <% if current_user.active_subscription.present? %>  
      <h2 class="my-4">Opzeggen</h2>


      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Lidmaatschap opzeggen
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bg-white">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Lidmaatschap opzeggen</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="text-muted">Je hebt een actief lidmaatschap. Weet je zeker dat je je lidmaatschap wilt opzeggen?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-bs-dismiss="modal">Annuleren</button>
              <%= button_to "Opzeggen", cancel_subscription_path(current_user.active_subscription), 
                method: :delete, 
                class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>

</div>