<div class="dashboard-container d-flex">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>
  <!-- Main Content -->
  <div class="main-content flex-grow-1">
    <h1 class="mb-4">Mijn Cursussen</h1>
    <h2>Lopende cursussen</h2>
    <% if @registered_courses_with_attempts.any? %>
      <% @registered_courses_with_attempts.each do |course_with_attempt| %>
        <% course = course_with_attempt[:course] %> <!-- Extract the course from the data structure -->
        <div class="card-white mb-4 p-4 d-flex">
          <div>
            <h2><%= course.title %> <%= levels_list(course) %></h2>
            <p><%= course.description %></p>
            <div class="course-content d-flex align-items-start justify-content-between">
              <!-- Questions progress -->
              <div class="questions-progress">
                <% course.questions.each_with_index do |question, index| %>
                  <%= question_number_link(course, question, index, @attempts) %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="ms-auto">
            <%= button_to 'Uitschrijven', unenroll_course_path(course), method: :delete, data: { turbo_confirm: 'Weet je het zeker?' }, class: 'btn btn-danger' %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Je bent nog geen lid van een cursus.</p>
    <% end %>
  </div>
</div>
