<div class="dashboard-container d-flex">

  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <!-- Main Content -->
  <div class="main-content flex-grow-1">
    <h1 class="mb-4">My Courses</h1>

    <% if @registered_courses.any? %>
      <% @registered_courses.each do |course| %>
        <div class="card-white mb-4 p-4">
          <h2><%= course.title %></h2>
          <p><%= course.description %></p>

          <div class="course-content d-flex align-items-start justify-content-between">

            <!-- Questions progress -->
            <div class="questions-progress">
              <% course.questions.each_with_index do |question, index| %>
                <% attempt = @attempts.find { |a| a.question_id == question.id } %>
                
                <!-- Show whether the question has been answered -->
                <% if attempt %>
                  <a href="<%= course_question_path(course, question) %>" class="question-number question-answered">
                    <%= index + 1 %>
                  </a>
                <% else %>
                  <a href="<%= course_question_path(course, question) %>" class="question-number">
                    <%= index + 1 %>
                  </a>
                <% end %>
              <% end %>
            </div>

            <!--
            <div class="action-buttons">
              <%= button_to 'Unenroll', unenroll_course_path(course), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </div>
            -->

          </div>
        </div>
      <% end %>
    <% else %>
      <p>You are not enrolled in any courses.</p>
    <% end %>
  </div>
</div>
