<div class="dashboard-container d-flex">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <!-- Main Content -->
  <div class="main-content flex-grow-1">

    <!-- Teachers and Admins - My Created Courses -->
    <h1 class="mb-4">
      <% if current_user.admin? %>
        Alle cursusses
      <% else %>
        Aangemaakte cursussen
      <% end %>
    </h1>

    <%= link_to "Cursus aanmaken", new_course_path, class: "btn btn-primary mb-4" %>

    <% if @created_courses.any? %>
      <% @created_courses.each do |course| %>
        <div class="card-white mb-4">
          <!-- Flex container for Course Name and Action Buttons -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <!-- Course Title -->
            <h2 class="mb-0"><%= course.title %> (<%= course.levels.map(&:name).join(', ') %>)</h2>
            <% if current_user.admin? %>
              <p>docent: <%= course.teacher.full_name %></p>
            <% end %>

            <!-- Action Buttons (Edit/Delete) -->
            <div class="d-flex align-items-center">
              <!-- Edit Button -->
              <%= link_to edit_course_path(course), class: 'me-4', title: 'Wijzig cursus' do %>
                <i class="fa-solid fa-pen-to-square icon-aligned"></i>
              <% end %>

              <!-- Delete Button -->
              <%= link_to course_path(course), method: :delete, data: { confirm: "Weet je zeker dat je deze cursus wilt verwijderen? Dit kan niet ongedaan gemaakt worden.", turbo: false }, class: 'me-2', title: 'Cursus verwijderen' do %>
                <i class="fa-solid fa-xmark icon-aligned"></i>
              <% end %>
            </div>
          </div>

          <!-- List of Students Registered for the Course -->
          <% if course.registrations.any? %>
            <!-- Headers Row -->
            <div class="students-list-wrapper">
              <div class="d-flex justify-content-between align-items-center mb-2" style="font-weight: bold;">
                <div class="col-3">Student</div>
                <div class="col-2 text-center">Status</div>
                <div class="col-2 text-center">Score</div>
                <div class="col-3 text-center">Bestede tijd</div>
              </div>

              <div class="students-list">
                <%= render partial: 'shared/registration_list', locals: { registrations: course.registrations, questions: course.questions } %>
              </div>
            </div>
          <% else %>
            <p>Er zijn geen studenten geregistreerd voor deze cursus.</p>
          <% end %>

          <!-- Questions Section -->
          <h4 class="mt-4 mb-3">Vragen</h4>
          <div class="course-content d-flex align-items-start justify-content-between">
            <!-- Questions Display -->
            <div class="questions-list">
              <% course.questions.each_with_index do |question, index| %>
                <a href="<%= course_question_path(course, question) %>" class="question-number">
                  <%= index + 1 %>
                </a>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>
        <% if current_user.admin? %>
          Er is nog geen cursus.
        <% else %>
          Je hebt nog geen cursus aangemaakt.
        <% end %>
      </p>
    <% end %>
  </div>
</div>
