<div class="dashboard-container d-flex" data-controller="course-form">
  <!-- Sidebar -->
  <%= render 'shared/sidebar' %>

  <!-- Flash messages for validation errors -->
  <div id="flash-messages">
    <%= render 'shared/flashes' %>
  </div>

  <!-- Main Content -->
  <div class="main-content flex-grow-1">
    <h1 class="mb-4">Nieuwe cursus aanmaken</h1>

    <div class="card-white p-4">
      <%= simple_form_for @course, html: { multipart: true, data: { turbo: true } } do |f| %>
        <%= render 'form', f: f, course: @course, groups: @groups, levels: @levels %>

        <div class="d-flex gap-3 mb-5">
          <%= f.submit "Cursus aanmaken", class: "btn btn-primary mb-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
