<!DOCTYPE html>
<html>
  <head>
    <title>Stichting Kansen Academie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <%= yield %>

    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <%= render "devise/sessions/new", resource: User.new, resource_name: :user, devise_mapping: Devise.mappings[:user] %>
          </div>
        </div>
      </div>
    </div>

    <%= turbo_frame_tag 'flash' do %>
      <%= render "shared/flashes" %>
    <% end %>

    <% if controller_name == 'pages' && action_name == 'home' || devise_controller? %>
      <%= render "shared/footer" %>
    <% end %>

  </body>
</html>
